body {
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: Roboto, sans-serif;
}

.header {
    color: #f9faf8;
    background-color: #1f2937;
    padding: 18px 220px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-weight: 800;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.overview {
    color: #f9faf8;
    background-color: #1f2937;
    padding: 120px 220px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.top-button {
    width: 130px;
    height: 40px;
    font-weight: 900px;
    font-size: 18px;
    color: #f9faf8;
    
    background-color: #3882f6;
    border-color:#3882f6;
    border-radius: 12%;
}

.big-img {
    color: #e5e7eb;
    background-color: #6d747d;
    font-size: 18px;
    width: 550px;
    height: 250px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.summary {
    background-color: #f9faf8;
}

.message {
    background-color: #e5e7eb;
}

.prompt {
    background-color: #f9faf8;
}

.footer {
    background-color: #1f2937;
}

/* make widths for placeholder */